/* GENEL YAPI */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Georgia", serif;
  background: #fff9e0;
  color: #a38441;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  background: #a38441;
  color: #fff9e0;
  padding: 12px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo h1 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

header .logo span {
  font-size: 12px;
}

header nav a {
  margin: 0 18px;
  font-size: 16px;
  text-decoration: none;
  color: #fff9e0;
  font-weight: 600;
}

header nav a:hover {
  text-decoration: underline;
}

/* İÇERİK */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content h2,
.content .text {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.content h2 {
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px; /* harita öncesi az boşluk */
}

/* HARİTA ALANI */
.map-container {
  width: 100%;
  height: calc(100vh - 240px); /* header + footer hariç alan */
  border: none;
  margin: 10px 0 15px 0; /* üstten ve alttan az boşluk */
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #a38441;
  color: #fff9e0;
  font-size: 14px;
  margin-top: auto;
}
