html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Georgia", serif;
  background: #fff9e0;
  color: #a38441;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  background: #a38441;
  color: #fff9e0;
  padding: 12px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo h1 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

header .logo span {
  font-size: 12px;
}

header nav a {
  margin: 0 18px;
  font-size: 16px;
  text-decoration: none;
  color: #fff9e0;
  font-weight: 600;
}

header nav a:hover {
  text-decoration: underline;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 25px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.content h2 {
  font-size: 34px;
  margin-bottom: 10px;
  width: 90%;
}

.text {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
  width: 90%;
}

/* HARİTA ALANI */
.map-container {
  width: 100%;
  max-width: 100%;
  flex-grow: 1;
  height: calc(100vh - 260px); /* header + boşluk + footer arasında esnek */
  border: 1px solid #a38441;
  background: #fff4cc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #a38441;
  margin-top: 15px;   /* üst yazıdan az boşluk */
  margin-bottom: 15px; /* footer’dan az boşluk */
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #a38441;
  color: #fff9e0;
  font-size: 14px;
  margin-top: auto; /* footer’ı alta iter */
}
